.chat-main
  .main-header
    .main-header-left-box
      %ul.title
        test
        %li.members
          Member: name
    .main-header-right-box
      = link_to '#', class:"edit" do
        Edit

  .messages
    .message
      .upper-message
        %p.member
          name
        %p.date
          2020/12/31
      .lower-message
        %p.text
          おはよう
    .message
      .upper-message
        %p.member
          name
        %p.date
          2020/12/31
      .lower-message
        %p.text
          おはよう
    .message
      .upper-message
        %p.member
          name
        %p.date
          2020/12/31
      .lower-message
        %p.text
          おはよう

  .footer
    %form.form
      .input-box
        %input{type: "text", class: "input-box__content", placeholder: "type a message"}
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "input-box__image__file"}
      .submit-button
        Send