.side-bar
  .side-header
    .side-header-box
      .user-name
        name
      %ul.menu
        %li.list
          = link_to "#" do
            = icon('fa', 'edit',class: 'icon')
        %li.list
          = link_to "#" do
            = icon('fa', 'cog',class: 'icon')
      
  .side-group
    .side-group-box
      .group-name
        techcamp
      .group-latest-message
        まだメッセージがありません
    .side-group-box
      .group-name
        techcamp
      .group-latest-message
        まだメッセージがありません
    .side-group-box
      .group-name
        techcamp
      .group-latest-message
        まだメッセージがありません